// Primary text color for dark on light background. Dark background color.
$primary-color-black: #323232;
// Seconday text color. Inactive CTA text color.
$primary-color-silver: #afafaf;
// Primary text color for light on dark background. Light background color. Active CTA text color.
$primary-color-white: #ffffff;
// CTA hover state.
$secondary-color-darkBlack: #000000;
// Divider line. Form field outline.
$secondary-color-mercury: #e1e1e1;
// Alternative light background color.
$secondary-color-alabaster: #fafafa;

//MOBILE padding
$padding-beforeheadlines: 3rem;
$padding-after-headlines: 2.25rem;
$padding-between-components: 2.25rem;

//DESKTOP / TABLET padding
$padding-beforeheadlines: 1.5rem;
$padding-after-headlines: 1rem;
$padding-between-components: 1rem;
