@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  width: 100%;
  margin-top: 4.75rem;
  height: 58vw;
  min-height: 100px;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: $primary-color-white;
  padding: 1rem;

  @include tablet {
    padding-left: 2.25rem;
  }

  @include desktop {
    height: 50vw;
    padding: 0 8rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color-black;
    opacity: 0.5;
    z-index: 1;
  }

  h1 {
    z-index: 2;
  }
}

.bio {
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.25rem 1.5rem;
  }

  @include desktop {
    padding: 0 8rem 2rem;
  }

  h2 {
    margin: $padding-before-headline-m 0 $padding-after-headline-m 0;

    @include tablet {
      margin: $padding-before-headline 0 $padding-after-headline 0;
    }
  }

  &__content {
    @include tablet {
      padding: 0 3.5rem;
    }

    @include desktop {
      padding: 0 5.5rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__img-container {
    height: 50vw;
    background-image: url("../assets/images/band.jpg");
    background-size: cover;
    background-position: bottom;

    @include tablet {
      height: 40vw;
    }

    @include desktop {
      height: 35vw;
    }
  }

  &__quote {
    margin-top: $padding-between-components-m;

    @include tablet {
      margin-top: $padding-between-components;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__quote-sign {
    font-weight: 600;
    margin: 0.6rem 0;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      margin-top: 1rem;
    }
  }

  &__article-title {
    margin: 1.5rem 0 $padding-between-components-m;
    font-weight: 500;

    @include tablet {
      margin: 3rem 0 1.5rem;
    }

    @include desktop {
      margin-bottom: 0.8rem;
    }
  }

  &__article-content {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    p {
      @include tablet {
        width: 46%;
      }

      @include desktop {
        width: 48%;
      }
    }
  }
}

.gallery {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  background-color: $secondary-color-alabaster;

  @include tablet {
    padding: $padding-before-headline 2.25rem 2rem;
  }

  @include desktop {
    padding: 2.5rem 8rem;
  }

  h2 {
    margin: 0 0 0.6rem 0;

    @include tablet {
      margin: 0 0 1rem;
    }

    @include desktop {
      margin: 0 0 2rem;
    }
  }

  &__img-container {
    @include tablet {
      height: 53vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }

    @include desktop {
      height: 46vw;
    }
  }

  img {
    margin: 0.3125rem 0;

    @include tablet {
      margin: 0;
      width: 31%;
    }

    @include desktop {
      filter: grayscale(100%);
      width: 32%;
    }

    &:hover {
      filter: none;
    }
  }
}

.comments {
  width: 100%;
  padding: 1rem;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    padding: 2.5rem 8rem;
  }

  &__form {
    @include tablet {
      width: 83%;
      margin: 2rem auto 0;
    }

    @include desktop {
      width: 50%;
      margin: 2rem auto 0;
    }
  }

  &__form-content-box {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img-container {
    margin-top: 1.75rem;
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    border-radius: 50%;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }

    img {
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: 20%;
    }
  }

  &__default-user-img {
    margin-top: 0.8rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-size: cover;
    background-color: $secondary-color-mercury;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__form-input-box {
    width: 82%;
    position: relative;

    @include tablet {
      margin: 0;
      width: 89%;
    }

    @include desktop {
      margin: 0;
      width: 87%;
    }
  }

  &__form-input-below {
    margin-top: 1rem;
  }

  &__name-input {
    min-height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 1px solid $secondary-color-mercury;
    font-family: "AvenirNext";
    font-size: 0.8125rem;
    background-color: $secondary-color-alabaster;

    &:focus {
      outline: none;
      border-color: $primary-color-black;
    }

    &--error {
      border-color: #d22d2d;
    }

    @include tablet {
      min-height: 3rem;
      font-size: 0.875rem;
    }

    &::placeholder {
      color: $primary-color-black;
    }
  }

  &__comment {
    height: 100px;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 1px solid $secondary-color-mercury;
    font-family: "AvenirNext";
    font-size: 0.8125rem;
    background-color: $secondary-color-alabaster;
    resize: none;

    &::placeholder {
      color: $primary-color-black;
    }

    &:focus {
      outline: none;
      border-color: $primary-color-black;
    }

    &--error {
      border-color: #d22d2d;
    }

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__button-box {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin: 1rem 0;

    @include tablet {
      width: 10rem;
      margin: 1.5rem 0;
    }
  }

  &__divide-line {
    width: 100%;
    border-bottom: 1px solid $secondary-color-mercury;
  }

  &__info-first-row {
    display: flex;
    justify-content: space-between;
  }

  &__info-second-row {
    margin-bottom: 1.2rem;
  }

  &__info-username {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__info-timestamp {
    color: $primary-color-silver;
    margin-bottom: 0;
  }
}
