@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext", sans-serif;
  margin: 0;
  width: 100%;
  color: $primary-color-black;

  img {
    width: 100%;
  }

  p {
    font-size: 0.8125rem;
    line-height: 1.125rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

footer p,
footer a {
  font-size: 0.8125rem;
  line-height: 1.125rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.label,
.button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.header {
  background-color: $primary-color-black;
  width: 100%;
  height: 4.75rem;
  position: fixed;
  top: 0;
  z-index: 999;

  @include tablet {
    display: flex;
    align-items: center;
    padding-left: 2.25rem;
  }

  @include desktop {
    height: 5.2rem;
    padding: 0 8rem;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0 0 0;
    height: 60%;

    @include tablet {
      padding-top: 0.3rem;
    }

    img {
      width: 7.1875rem;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-align: center;

    @include tablet {
      margin-left: 2rem;
    }

    li {
      width: 50vw;
      position: relative;

      @include tablet {
        width: auto;
        margin: 0 2rem;
      }

      a {
        color: $secondary-color-mercury;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        font-size: 0.8125rem;

        @include tablet {
          font-size: 0.9rem;
        }
      }

      .active {
        color: $primary-color-white;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          top: 0.48rem;
          left: 0;
          height: 100%;
          width: 100%;
          border-bottom: 3px solid $primary-color-white;

          @include tablet {
            top: 1.57rem;
          }

          @include desktop {
            top: 1.78rem;
          }
        }
      }
    }
  }
}

.hero {
  width: 100%;
  margin-top: 4.75rem;
  height: 58vw;
  min-height: 100px;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: $primary-color-white;
  padding: 1rem;

  @include tablet {
    padding-left: 2.25rem;
  }

  @include desktop {
    height: 50vw;
    padding: 0 8rem;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color-black;
    opacity: 0.5;
    z-index: 1;
  }

  h1 {
    z-index: 2;
  }
}

.bio {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.25rem 1.5rem;
  }

  @include desktop {
    padding: 0 8rem 2rem;
  }

  h2 {
    margin: $padding-before-headline-m 0 $padding-after-headline-m 0;

    @include tablet {
      margin: $padding-before-headline 0 $padding-after-headline 0;
    }
  }

  &__content {
    @include tablet {
      padding: 0 3.5rem;
    }

    @include desktop {
      padding: 0 5.5rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__img-container {
    height: 50vw;
    background-image: url("../assets/images/band.jpg");
    background-size: cover;
    background-position: bottom;

    @include tablet {
      height: 40vw;
    }

    @include desktop {
      height: 35vw;
    }
  }

  &__quote {
    margin-top: $padding-between-components-m;

    @include tablet {
      margin-top: $padding-between-components;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__quote-sign {
    font-weight: 600;
    margin: 0.6rem 0;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      margin-top: 1rem;
    }
  }

  &__article-title {
    margin: 1.5rem 0 $padding-between-components-m;
    font-weight: 500;

    @include tablet {
      margin: 3rem 0 1.5rem;
    }

    @include desktop {
      margin-bottom: 0.8rem;
    }
  }

  &__article-content {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    p {
      @include tablet {
        width: 46%;
      }

      @include desktop {
        width: 48%;
      }
    }
  }
}

.gallery {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  background-color: $secondary-color-alabaster;

  @include tablet {
    padding: $padding-before-headline 2.25rem 2rem;
  }

  @include desktop {
    padding: 2.5rem 8rem;
  }

  h2 {
    margin: 0 0 0.6rem 0;

    @include tablet {
      margin: 0 0 1rem;
    }

    @include desktop {
      margin: 0 0 2rem;
    }
  }

  img {
    margin: 0.3125rem 0;

    @include tablet {
      width: 31%;
      margin: 0.7rem 0;
    }

    @include desktop {
      width: 32%;
    }
  }

  &__img-container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
  }
}

.footer {
  width: 100%;
  background-color: $primary-color-black;
  color: $primary-color-white;
  padding: 2rem 1rem 1rem;

  @include tablet {
    padding: 0.5rem 2.25rem 1.5rem;
  }

  @include desktop {
    padding: 2rem 8rem;
  }

  p {
    @include tablet {
      margin: 1.5rem 0;
    }

    @include desktop {
      margin: 2rem 0;
    }
  }

  &__first-row {
    @include tablet {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1.5rem 0;
    }
  }

  &__second-row {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0 0 1rem;
    }

    @include desktop {
      width: 75%;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 7.5rem;

    @include tablet {
      margin-left: 3rem;
    }

    @include desktop {
      padding: 0;
    }

    img {
      height: 1.5625rem;
    }
  }

  &__secondary-title {
    font-weight: 600;
    margin: 1rem 0;
  }

  a {
    color: $primary-color-white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__logo-above {
    width: 7.1875rem;
    margin-top: 1.5rem;
    display: none;

    @include tablet {
      display: inline-block;
      margin: 0;
      margin-left: auto;
    }
  }

  &__logo-below {
    width: 7.1875rem;
    margin-top: 3rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 0.7rem;

    @include tablet {
      margin-top: 0.8rem;
      font-size: 0.85rem;
    }
  }
}
