@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  width: 100%;
  margin-top: 4.75rem;
  height: 88vw;
  min-height: 100px;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  color: $primary-color-white;
  padding: 1rem;

  @include tablet {
    padding-left: 2.25rem;
    height: 65vw;
  }

  @include desktop {
    margin-top: 5.2rem;
    height: 50vw;
    padding: 0 8rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color-black;
    opacity: 0.5;
    z-index: 1;
  }

  &__content {
    z-index: 2;
    margin: auto 0;
  }

  p {
    width: 100%;
  }

  h1 {
    width: 100%;

    @include desktop {
      display: inline-block;
      width: auto;
      margin-right: 7vw;
    }
  }

  &__label {
    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__song {
    width: 100%;
    margin: 1rem 0;

    @include tablet {
      margin: 2rem 0;
      width: 25.625rem;
    }

    @include desktop {
      display: inline-block;
    }
  }
}

.shows {
  width: 100%;
  padding: 1rem 0;

  @include tablet {
    padding: 2.25rem 1.5rem;
  }

  @include desktop {
    padding: 2rem 8rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    margin: 1rem 1rem 0;

    @include desktop {
      margin: 1rem 0;
    }
  }

  p {
    margin: 0;
  }

  &__shows-container {
    width: 100%;

    @include desktop {
      width: 75%;
    }
  }

  &__show-box {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid $secondary-color-mercury;

    &--hovered {
      background-color: $secondary-color-alabaster;
    }

    &--selected {
      background-color: $secondary-color-mercury;
    }

    @include tablet {
      padding: 1.5rem 1.125rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      cursor: pointer;
    }
  }

  &__data-container {
    margin: 0 0 0.5rem 0;

    @include tablet {
      width: 10rem;
      margin: 0;
    }
  }

  &__date-wrapper {
    @include desktop {
      width: 16rem;
    }
  }

  &__labels {
    @include tablet {
      margin: 1.5rem 1.125rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      margin: 2rem 1.125rem 0;
    }
  }

  &__label-container {
    display: none;

    @include tablet {
      width: 10rem;
      display: inline-block;
    }
  }

  &__date-label {
    @include desktop {
      width: 16rem;
    }
  }

  &__button-placeholder {
    width: 9.6875rem;
  }

  &__mobile-label {
    @include tablet {
      display: none;
    }
  }

  &__show-date {
    font-weight: 600;
  }

  &__button {
    width: 100%;
    margin-top: 0.6rem;

    @include tablet {
      width: 9.6875rem;
      margin: 0;
    }
  }
}
